* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./Assets/background.jpg");
}

html * {
    font-family: 'RocknRoll One', sans-serif;
}

h1 {
    font-size: 20px;
    font-weight: 900;
}

h2 {
    font-weight: 600;
    font-size: 15px;
}

h3 {
    font-weight: 500;
    font-size: 12px;
}

p {
    font-size: 13px;
}


@media screen and (max-width: 900px) {
    p {
        font-size: 11px;
    }

}